# Node
frontend/node_modules/
node_modules/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
*.env
venv/
env/
.venv/

# Django
backend/db.sqlite3
backend/staticfiles/
backend/media/

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
